<div class="row"> 
    <body>
    
    <div class="col-md-12 ">
        <form [formGroup]="customerDetails" (ngSubmit)="submit()" id="msform">
            <!-- progressbar -->
            <!-- <ul id="progressbar">
                <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Personal Details</li>
                <li [ngClass]="step>=2 ? 'active' : 'inactive'">Social Profiles</li>
                <li [ngClass]="step==3 ? 'active' : 'inactive'">Account Setup</li>
            </ul> -->
            <!-- fieldsets -->
                <div>
            <fieldset  *ngIf="step == 1" >
                <h2 class="fs-title">Personal Details</h2>
             
                <div class="article-container">  
                 <div class="article">
                <input type="text" formControlName="firstName"  placeholder="First Name">
                </div>
                <!-- <div *ngIf="personal_step && customerDetails.controls.name.errors">
                    <div *ngIf="personal.name.errors?.required">FirstName is required</div>
                </div> -->
                <div class="article">
                <input type="text" formControlName="middleName"   placeholder="Middle  Name">
                </div>
                <!-- <div *ngIf="personal_step && customerDetails.controls.middleName.errors">
                    <div *ngIf="personal.middleName.errors?.required">MiddleName is required</div>
                </div> -->
                <div class="article">
                <input type="text" formControlName="lastName"  placeholder="Last Name">
                </div>
                <!-- <div *ngIf="personal_step && customerDetails.controls.lastName.errors">
                  <div *ngIf="personal.lastName.errors?.required">Last is required</div> -->
               <!-- </div> -->
               </div>


                <input type="number" formControlName="mobileNo"   placeholder="Contact Number"/>
                <!-- <div *ngIf="personal_step && customerDetails.controls.mobno.errors">
                  <div *ngIf="personal.mobno.errors?.required">Contact Number is required</div>
              </div> -->
              <input type="date" formControlName="dateOfBirth" placeholder="Date Of Birth"/>
              <!-- <div *ngIf="personal_step && customerDetails.controls.dateOfBirth.errors">
                  <div *ngIf="personal.dateOfBirth.errors?.required">Date is required</div>
              </div> -->
              <input type="text" formControlName="gender"  placeholder="Gender"/>
              <!-- <div *ngIf="personal_step && customerDetails.controls.gender.errors">
                  <div *ngIf="personal.gender.errors?.required">gender is required</div>
              </div> -->
              <input type="number" formControlName="age"   placeholder="Age"/>
              <!-- <div *ngIf="personal_step && customerDetails.controls.age.errors">
                  <div *ngIf="personal.age.errors?.required">Age is required</div>
              </div> -->
              <input type="text" formControlName="emailId"   placeholder="EmailId"/>
              <!-- <div *ngIf="personal_step && customerDetails.controls.emailId.errors">
                  <div *ngIf="personal.emailId.errors?.required">EmailId is required</div>
              </div> -->
              <input type="text" formControlName="education"   placeholder="Education"/>
              <!-- <div *ngIf="personal_step && customerDetails.controls.education.errors">
                  <div *ngIf="personal.education.errors?.required">Education is required</div>
              </div> -->
              <input type="text" formControlName="occupation"   placeholder="Occupation"/>
              <!-- <div *ngIf="personal_step && customerDetails.controls.occupation.errors">
                  <div *ngIf="personal.occupation.errors?.required">Occupation is required</div>
              </div> -->
              <div formGroupName="address" >
                <div formGroupName="localAddress" >
                    <h2 class="fs-title">local address</h2>
                    
                    <input type="text" formControlName="areaName"   placeholder="areaName"/>
                    <input type="text" formControlName="cityName"   placeholder="cityName"/>
                    <input type="text" formControlName="landmark"   placeholder="landmark"/>
                    <input type="number" formControlName="pincode"   placeholder="pincode"/>
                </div>
                <div formGroupName="permanentAddress" >
                    <h2 class="fs-title">Permanent address</h2>
                    <input type="text" formControlName="areaName"   placeholder="areaName"/>
                    <input type="text" formControlName="cityName"   placeholder="cityName"/>
                    <input type="text" formControlName="landmark"   placeholder="landmark"/>
                    <input type="number" formControlName="pincode"   placeholder="pincode"/>
                </div>
              </div>
                <input (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
       
        </div>
            <fieldset *ngIf="step == 2"  >

                <div formGroupName="allPersonalDocuments">
                <h1 class="fs-titlex">Personal Documents</h1>
               <!--<h2 class="fs-title">AddressProof</h2>--> 
                </div>

          <div class="article-container">
            <div class="article">
                <h5 class="fs-titles">Addressproof</h5>
                 <input type="file" name="adharcard" (change)="onaddressProof($event)" />
             </div> 
                <!-- <div *ngIf="address_step && addressDetails.controls.addressProof.errors">
                    <div *ngIf="address.addressProof.errors?.required">AddressProof is required</div>
                </div> -->
            <div class="article">  
                <h5 class="fs-titles">PanCard</h5>
                <input type="file"  (change)="onpanCard($event)">
              </div>  
                <!-- <div *ngIf="address_step && addressDetails.controls.panCard.errors">
                    <div *ngIf="address.panCard.errors?.required">PanCard is required</div>
                </div> -->
                <div class="article">
                <h5 class="fs-titles">Adharcard</h5>
                <input type="file" (change)="onadharCard($event)"/>
                </div>
                <!-- <div *ngIf="address_step && addressDetails.controls.adharCard.errors">
                    <div *ngIf="address.adharCard.errors?.required">AdharCard is required</div>
                </div> -->
                <div class="article">
                <h5 class="fs-titles">IncomeProof</h5>
                <input type="file" (change)="onincomeProof($event)"/>
                </div>
                <!-- <div *ngIf="address_step && addressDetails.controls.incomeProof.errors">
                    <div *ngIf="address.incomeProof.errors?.required">IncomeProof is required</div>
                </div> -->
                <div class="article">
                <h5 class="fs-titles">BankPassbook</h5>
                <input type="file" (change)="onbankPassbook($event)"/>
                </div>
                <!-- <div *ngIf="address_step && addressDetails.controls.bankPassbook.errors">
                    <div *ngIf="address.bankPassbook.errors?.required">BankPassbook is required</div>
                </div> -->
                <div class="article">
                <h5 class="fs-titles">PassportPhoto</h5>
                <input type="file" (change)="onpassportPhoto($event)"/>
                </div>
                <!-- <div *ngIf="address_step && addressDetails.controls.passportPhoto.errors">
                    <div *ngIf="address.passportPhoto.errors?.required">PassportPhoto is required</div>
                </div> -->
                <div class="article">
                <h5 class="fs-titles">Signature</h5>
                <input type="file" (change)="onsignature($event)"/>
                </div>
                <!-- <div *ngIf="address_step && addressDetails.controls.signature.errors">
                    <div *ngIf="address.signature.errors?.required">Signature is required</div>
                </div> -->
                <div class="article">
                <h5 class="fs-titles">Thumb</h5>
                <input type="file" (change)="onthumb($event)"/>
                </div>
                <!-- <div *ngIf="address_step && addressDetails.controls.thumb.errors">
                    <div *ngIf="address.thumb.errors?.required">Thumb is required</div>
                </div> -->
                <div class="article">
                <h5 class="fs-titles">BankCheque</h5>
                <input type="file" (change)="onbankCheque($event)"/>
                </div>
                <!-- <div *ngIf="address_step && addressDetails.controls.bankCheque.errors">
                    <div *ngIf="address.bankCheque.errors?.required">BankCheque is required</div>
                </div> -->
            
               
              </div>

              <br>
                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input  (click)="next1()" type="button" name="next" class="next action-button" value="Next"/>
           
            </fieldset>
      
         
            <fieldset *ngIf="step == 3">
                <h2 class="fs-title">Account Details</h2>
                <div formGroupName="accountDetails">
                <input type="text" formControlName="accountType" placeholder=" Account Type"/>
                <!-- <div *ngIf="education_step && educationalDetails.controls.highest_qualification.errors">
                    <div *ngIf="education.highest_qualification.errors?.required">Highest qualification is required</div>
                </div> -->
                <input type="text" formControlName="accoubntHoldersName"  placeholder="Accoubnt Holders Name"/>
                <!-- <div *ngIf="education_step && educationalDetails.controls.university.errors">
                    <div *ngIf="education.university.errors?.required">University is required</div>
                </div> -->
                <input type="number" formControlName="accountNumbber" placeholder="Account Numbber"/>
                <!-- <div *ngIf="education_step && educationalDetails.controls.total_marks.errors">
                    <div *ngIf="education.total_marks.errors?.required">Total marks is required</div>
                </div> -->
                <input type="number" formControlName="requiredLoanAmount" placeholder="Required Loan Amount "/>
                <!-- <div *ngIf="education_step && educationalDetails.controls.total_marks.errors">
                    <div *ngIf="education.total_marks.errors?.required">Total marks is required</div>
                </div> -->

                <input type="number" formControlName="tenureInYear" placeholder="Tenure In Year"/>
                <!-- <div *ngIf="education_step && educationalDetails.controls.total_marks.errors">
                    <div *ngIf="education.total_marks.errors?.required">Total marks is required</div>
                </div> -->

                <div formGroupName="bankdetails">
                    <input type="text" formControlName="bankName" placeholder="Bank Name"/>
                    <input type="text" formControlName="bankAddress" placeholder="Bank Address"/>
                    <input type="text" formControlName="bankIFSC" placeholder="Bank IFSC Code"/>

                </div>
                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input  type="submit" name="submit" class="submit action-button" value="Submit"/>
            </div>
            </fieldset>
        
</form>
    </div>
</body>
</div>