.CIBIl_REQUIRED{
    color: cadetblue;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.CIBIL_OK{
    color:green;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.CIBIL_REJECT
{
    color:red;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th{
    
    background-color: cornflowerblue;
}

.thead {
    top: 0;
    position: sticky;
    background: white;
 }