<div class="header">
<div class="row">
    <div class="col-5">
        <h1 style="color: white; padding-top:9px; padding-left: 4px ;">digiPOKKET...</h1>
    </div>
    <div class="col-7" style="padding-top: 15px;">
<button class="btn btn-danger" style="margin-left: 45%;" routerLink="aboutus">AboutUs</button>
<button class="btn btn-danger" style="margin-left: 2%;" routerLink="contact">Contact</button>
<button class="btn btn-danger" style="margin-left: 2%;" routerLink="location">Location</button>
<button class="btn btn-danger" style="margin-left: 2%;" routerLink="enquiry">Enquiry</button>
<button class="btn btn-success" style="margin-left: 2%;" routerLink="login">Login</button>
    </div>
</div>

</div>
