<div class="header">
<div class="row">
    <div class="col-1">
        <img src="https://www.logoground.com/uploads11/dv11y202226212022-07-193662385pdgold.jpg" alt="Girl in a jacket" width="120" height="70">
    </div>
    <div class="col-4">
        <h1 style="color: white; padding-top:9px; padding-left: 4px;">digiPOKKET...</h1>
    </div>
   
    <div class="col-7" style="padding-top: 15px;">
<button class="btn btn-outline-info" style="margin-left: 25%;" routerLink="aboutus">AboutUs</button>
<button class="btn btn-outline-warning" style="margin-left: 2%;" routerLink="contact">Contact</button>
<button class="btn btn-outline-warning" style="margin-left: 2%;" routerLink="location">Location</button>
<button class="btn btn-outline-warning" style="margin-left: 2%;" routerLink="enquiry">Enquiry</button>
<button class="btn btn-outline-warning" style="margin-left: 2%;" routerLink="enquiry">EMI Calculator</button>
<button class="btn btn-success" style="margin-left: 2%;" routerLink="login">Login</button>
    </div>
</div>

</div>
