<table class="table">
    <thead>
      <tr>
        <th scope="col">Enquiry Id</th>
        <th scope="col">Enquiry Date</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Mobile No</th>
        <th scope="col">Pan No</th>
        <th scope="col">Email Id</th>
        <th scope="col">City</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of enquiry">
        <td>{{e.enquiryId}}</td>
        <td>{{e.enquiryDate|date:'d/MM/yyyy'}}</td>
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.dateOfBirth}}</td>
        <td>{{e.age}}</td>
        <td>{{e.gender}}</td>
        <td>{{e.mobileNo}}</td>
        <td>{{e.panNo}}</td>
        <td>{{e.emailId}}</td>
        <td>{{e.city}}</td>
        
        <td class="{{e.enquiryStatus}}">{{e.enquiryStatus}}</td>
        <td><button type="button" class="btn btn-outline-info" (click)="oncheckingCIBIL(e.enquiryId)">check cibil</button>
        </td>
      </tr>
    </tbody>
  </table>
 