.social-link {
    width: 30px;
    height: 30px;
    border: 2px solid #610707;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0e23c1;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #34b1ad;
    text-decoration: none;
    color: #555;
  }
  .font-weight-light{
    -webkit-text-fill-color:rgb(221, 32, 32);
  }
  marquee {
color: brown;
    font-size: xx-large;
  }
 