<div class="container-fluid ">
            
    <div class="card mx-15">
        <div class="row mb-0 ">
            
            <div class="col-md-10 col-sm-8 col-xs-9">
                <div class="footer-text">
                    
                     
                     <div class="social mt-50 mb-10 ">
                        <a href="https://www.facebook.com/login/" class="glowing-digital-money-indian-rupee-background-with-text-space_1017-41276 me-4">
                        <i class="fa fa-facebook-official fa-lg" >Facebook</i></a>
                        <a href="https://www.instagram.com/" class="text-align me-4">
                        <i class="fa fa-instagram fa-lg"> instagram</i> </a>
                        <a href="https://twitter.com/" class="glowing-digital-money-indian-rupee-background-with-text-space_1017-41276 me-4">
                        <i class="fa fa-twitter fa-lg">twitter</i></a>
                        <a href="https://www.linkedin.com/login" class="footer-text me-4">
                        <i class="fa fa-linkedin-square fa-lg">linkedin</i></a>
                    

                     </div>
                     
                 
                 </div>
            </div>

        </div>
        
        
        <div class="divider mb-2" >   
        </div>

       
        <div class="row" style="font-size:20px;">
        
        <div class="col-md-6 col-sm-6 col-xs-9">
            
            <div class="pull-left,glowing-digital-money-indian-rupee-background-with-text-space_1017-41276">
                
                <p><i class="fa fa-copyright"></i> @digiPOKKET banking Services.</p>
                
            </div>
            <div class="pull-right">
                
                <p><i class="fa fa-copyright"></i> +91-8888888888</p>
                
            </div>
            
        </div>
        
        

        <div class="col-md-6 col-sm-6 col-xs-6">
           
           
            <div class="pull-right mr-4 d-flex policy">
                
               <div>Terms of Use</div>
               <div>Privacy Policy</div>
               <div>Cookie Policy</div>
                
            </div>
            
            
            
        </div>
         
         
         
     </div>
    </div>
    
</div>