<div *ngIf="x==0">
    <table class="table">
        <thead class="thead">
            <tr>
                <th scope="col">Customer Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Mobile No</th>
                <th scope="col">Pan No</th>
                <th scope="col">Email Id</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of customer">
                <td>{{c.customerId}}</td>
                <td>{{c.firstName}}</td>
                <td>{{c.lastName}}</td>
                <td>{{c.dateOfBirth}}</td>
                <td>{{c.mobileNo}}</td>
                <td>{{c.panNo}}</td>
                <td>{{c.emailId}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="onVerify(c)">Verify</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="x==5">
    <div class="col">

        <table>

            <tbody  style="padding-top: 35%;">
                <tr *ngIf="n==0">
                    <td>
                        <h4>Passport Photo</h4>
                    </td>
                    <td><img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.passportPhoto" class="profile"
                            width="750" height="400" /></td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
                <tr *ngIf="n==1">
                    <td>
                        <h4>Signature</h4>
                    </td>
                    <td><img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.signature" class="profile"
                            width="650" height="350" /></td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
                <tr *ngIf="n==2">
                    <td>
                        <h4>Thumb</h4>
                    </td>
                    <td>
                        <img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.thumb" class="profile"
                            width="650" height="350" />
                    </td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
                <tr *ngIf="n==3">
                    <td>
                        <h4>Address Proof</h4>
                    </td>
                    <td> <img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.addressProof" class="profile"
                            width="650" height="350" /></td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
                <tr *ngIf="n==4">
                    <td>
                        <h4>Income Proof</h4>
                    </td>
                    <td> <img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.incomeProof" class="profile"
                            width="650" height="350" /></td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
                <tr *ngIf="n==5">
                    <td>
                        <h4>Pan Card</h4>
                    </td>
                    <td> <img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.panCard" class="profile"
                            width="650" height="350" /></td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
                <tr *ngIf="n==6">
                    <td>
                        <h4>Adhar Card</h4>
                    </td>
                    <td> <img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.adharCard" class="profile"
                            width="650" height="350" /></td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
                <tr *ngIf="n==7">
                    <td>
                        <h4>Bank Passbook</h4>
                    </td>
                    <td> <img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.bankPassbook" class="profile"
                            width="650" height="350" /></td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
                <tr *ngIf="n==8">
                    <td>
                        <h4>Bank Cheque</h4>
                    </td>
                    <td><img [src]="'data:image/jpeg;base64,'+ doc.allPersonalDocuments.bankCheque" class="profile"
                            width="650" height="350" /></td>
                    <td><button type="button" class="btn btn-success" (click)="verify()">Accept <i
                                class="fa fa-check-square-o"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="reject()">Reject <i
                                class="fa fa-window-close-o"></i></button></td>
                </tr>
            </tbody>
        </table>

        <div>
            <button type="button" class="btn btn-success" (click)="verifyAllDoc(doc.customerId)">Verify</button>
            <button type="button" *ngIf="g==0" class="btn btn-success" (click)="next()">NEXT</button>

        </div>

    </div>
</div>