<div class="container">

  <div class="row" style="margin-left: 20%; margin-top: 10%;">

    <div class="col-lg-8 col-lg-offset-2">


      <form id="contact-form" [formGroup]="emiForm" >

        <div class="messages"></div>

        <div class="controls" style="color: azure;">
          <div class="row" style="margin-top: 5%;">
            <div class="col-md-4">
              <div class="form-group">
                <label for="form_email">Requried Loan Amount</label>
                <input id="form_email" type="number" class="form-control" required="required"
                  data-error="Valid email is required." formControlName="requriedAmount">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="form_phone">Rate Of Intreast</label>
                <input id="form_phone" type="number" class="form-control" formControlName="rateOIintreast">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="phone">Tenure In Year</label>
                <input id="phone" type="number" class="form-control" formControlName="tenour">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 5%;">

            <div class="col-md-12" style="margin-left: 37%;">

              <button type="button" class="btn btn-primary" (click)="calculateEMI()">Calculate</button>
            </div>
          </div>

        </div>
      <br>

      <br>
      <br>
      <br>
      <br>
     

      </form>

    </div>
    <div class="claculatortable">
    <div class="row" *ngIf="x==5">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Required Amount</th>
            <th scope="col">Rate of Interest(%)</th>
            <th scope="col">Tenure (year)</th>
            <th scope="col">EMI(/month)</th>
            <th scope="col">Total Interest Amount</th>
            <th scope="col">Total Amount with Interest</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{emi.requriedAmount}}</td>
            <td>{{emi.rateOIintreast}}</td>
            <td>{{emi.tenour}}</td>
            <td>{{emi.emi|number:'3.1-2'}}</td>
            <td>{{emi.totalIntreast|number:'3.1-2'}}</td>
            <td>{{emi.totalAmount|number:'3.1-2'}}</td>
          </tr>
         
        </tbody>
      </table>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  </div>

</div>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js'></script>